<div class="container-form">
  <mat-card class="card-form">

    <mat-card-header>
      <mat-card-title *ngIf="id">Serviço</mat-card-title>
      <mat-card-title *ngIf="!id">Novo Serviço</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formControls">
      <mat-card-content>
        <div class="row">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome</mat-label>
            <input [readonly]="view" matInput formControlName="nome" />
            <mat-error *ngIf="formControls.get('nome')?.hasError('required')">
                Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="full-width">
              <mat-label>Descrição</mat-label>
              <textarea [readonly]="view" matInput type="textarea" formControlName="descricao"></textarea>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Categoria</mat-label>
            <input [readonly]="view" matInput formControlName="categoria" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Valor</mat-label>
            <input 
                [readonly]="view" 
                matInput
                required
                [value]="valorFormatado"
                (keydown)="blockNegative($event)"
                (input)="onChangeValor($event)"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <div class="button-area">
        <button class="button-primary" mat-raised-button color="primary" *ngIf="id && !view" (click)="update()">Atualizar</button>
        <button class="button-primary" mat-raised-button color="primary" *ngIf="!id" (click)="create()">Cadastrar</button>
        <button mat-stroked-button color="accent" (click)="backPage()">Voltar</button>
      </div>
    </form>
  </mat-card>
</div>