<div class="modal-backdrop" *ngIf="show" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <p class="modal-title">Parcela {{data.numero_parcela}}</p>
      <button class="close-button" (click)="onClose()">×</button>
    </div>
    <ng-content></ng-content>
    <div class="modal-body">
      <div class="row">
        <mat-form-field>
          <mat-label>STATUS</mat-label>
          <input matInput readonly
          [value]="data.status_parcela || ''"
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>DATA DE VENCIMENTO</mat-label>
          <input matInput readonly
          [value]="data?.data_vencimento ? (data?.data_vencimento | date: 'dd/MM/yyyy') : ''"
          >
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>VALOR DA PARCELA</mat-label>
          <input matInput readonly
          [value]="data?.valor?.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) || ''"
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>VALOR PAGO</mat-label>
          <input matInput readonly
          [value]="data?.valor_pago?.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) || ''"
          >
        </mat-form-field>
      </div>

      <div class="row" *ngIf="data?.status_parcela !== 'PAGA' && editModal">
        <mat-form-field>
          <mat-label>VALOR DO PAGAMENTO</mat-label>
          <input matInput
            [value]="valorFormatado"
            (keydown)="blockNegative($event)"
            (input)="onChangeValor($event)"
          >
        </mat-form-field>
      </div>


      <div class="row">
        <mat-card-content [formGroup]="formControls" *ngIf="anexoControls.get('base64')?.value?.length != 0">
          <mat-form-field>
              <mat-label>Data Pagamento</mat-label>
              <input matInput 
                formControlName="data_pagamento"
                placeholder="DD/MM/YYYY"
                [matDatepicker]="datapagamento"
                [max]="hoje"
              >
              <mat-datepicker-toggle matIconSuffix [for]="datapagamento"></mat-datepicker-toggle>
              <mat-datepicker #datapagamento></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
      </div>
      <div class="row user-photo">
        <div *ngIf="editModal && data?.status_parcela !== 'PAGA'" class="row">
          <app-inputfile [nome]="anexo?.nome ? anexo?.nome.length <= 25 ? anexo?.nome : anexo?.nome.slice(0, 25) + '...' : ''" 
            [previewFile]="anexo"  
            (fileOutput)="saveFileBase64($event)" 
            (fileSelected)="onFileSelected($event)"
          ></app-inputfile>
        </div>
    <!--     <label style="cursor: pointer;" >
            <input type="file" accept=".jpg, .jpeg, .png, .pdf" #fileInputTransacao (change)="onSelectPicture($event)" hidden />
            <button mat-icon-button type="button" aria-label="Upload file" (click)="openFileSelector()">
                <mat-icon>edit</mat-icon>
            </button>
        </label> -->
      </div>
    </div>
   
    <div class="modal-footer">
      <button *ngIf="editModal && data?.status_parcela !== 'PAGA'" class="positiveButton" (click)="onPositiveClick()" color="primary">CONFIRMAR</button>
      <button class="negativeButton" (click)="onCancelClick()" color="primary">VOLTAR </button>
    </div>
  </div>
</div>


