<div class="container-form">
  <mat-card class="card-form">

    <mat-card-header>
      <mat-card-title *ngIf="id">Plano</mat-card-title>
      <mat-card-title *ngIf="!id">Novo Plano</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formControls">
      <mat-card-content>
        <div class="row">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome</mat-label>
            <input [readonly]="view" matInput formControlName="nome" />
            <mat-error *ngIf="formControls.get('nome')?.hasError('required')">
                Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="full-width">
              <mat-label>Descrição</mat-label>
              <textarea [readonly]="view" matInput type="textarea" formControlName="descricao"></textarea>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-slide-toggle (change)="handleAvista($event)" color="primary" formControlName="avista">À vista</mat-slide-toggle>
        </div>

        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>{{valorLabel}}</mat-label>
            <input 
                [readonly]="view" 
                matInput 
                required
                [value]="valorFormatado"
                (keydown)="blockNegative($event)"
                (input)="onChangeValor($event)"
            />
            <mat-error *ngIf="formControls.get('valor_mensal')?.hasError('required')">
                Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Número de parcelas</mat-label>
            <mat-select formControlName="numero_parcelas" (selectionChange)="selectParcelas($event)">
              @for (option of listOptions; track option) {
                <mat-option [value]="option.value">{{option.label}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tipo de pagamento</mat-label>
            <mat-select formControlName="tipo_pagamento">
              @for (option of listOptionsPag; track option) {
                <mat-option [value]="option.value">{{option.label}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row" *ngIf="listOptionsServicos">
          <mat-form-field>
            <mat-label>Serviços</mat-label>
            <mat-select formControlName="servicos_vinculados" multiple>
              @for (servico of listOptionsServicos; track servico) {
                <mat-option [value]="servico.id">{{servico.nome ? servico.nome : ''}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
      <div class="button-area">
        <button class="button-primary" mat-raised-button color="primary" *ngIf="id && !view" (click)="update()">Atualizar</button>
        <button class="button-primary" mat-raised-button color="primary" *ngIf="!id" (click)="create()">Cadastrar</button>
        <button mat-stroked-button color="accent" (click)="backPage()">Voltar</button>
      </div>
    </form>
  </mat-card>
</div>