.logo-img {
    background-image: url('../../../../public/Sublogo.png');
    background-size: cover;
    background-position: center;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-left: -40px;
    margin-bottom: -30px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f0f2f5;
}

.mat-card {
    max-width: 400px;
    width: 100%;
}

button {
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    background-color: var(--main-primary)  !important;
    transition: all ease 0.4s;
}

button:hover {
    background-color:var(--main-primary-medium) !important;
}

.login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.login-links a {
    text-decoration: none;
    color: #4267b2;
}

.divider {
    margin: 0 10px;
    color: #555;
}


mat-form-field {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

mat-card-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 650px) {
    .logo-img {
        margin-left: -40px;
        margin-bottom: 20px;
    }
}