<div class="container-form">
  <mat-card class="card-form">

    <mat-card-header>
      <mat-card-title *ngIf="id">Usuário</mat-card-title>
      <mat-card-title *ngIf="!id">Novo Usuário</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formControls">

      <mat-card-content>
        <div class="row">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome do Usuário</mat-label>
            <input [readonly]="view" matInput formControlName="nome" />
            <mat-error *ngIf="formControls.get('nome')?.hasError('required')">
                Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input [readonly]="view" matInput formControlName="email" />
            <mat-error *ngIf="formControls.get('email')?.hasError('required')">
                Este campo é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="formControls.get('email')?.hasError('email') && !formControls.get('email')?.hasError('required')">
                E-mail inválido.
            </mat-error>
            
          </mat-form-field>

          <mat-form-field appearance="fill" (input)="formatarTelefone()">
            <mat-label>Telefone</mat-label>
            <input [readonly]="view" matInput formControlName="telefone" />
            <mat-error *ngIf="formControls.get('telefone')?.hasError('pattern')">
                Por favor digite um telefone válido.
            </mat-error>
            <mat-error *ngIf="formControls.get('telefone')?.hasError('required')">
                Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" (input)="formatarCpf()">
            <mat-label>CPF</mat-label>
            <input [readonly]="view" matInput formControlName="cpf" />
            <mat-error *ngIf="formControls.get('cpf')?.hasError('required')">
                Este campo é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="formControls.get('cpf')?.hasError('cpfInvalido') && !formControls.get('cpf')?.hasError('required')">CPF inválido</mat-error>
          </mat-form-field>
        </div>

        <div class="row" *ngIf="!view">
          <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="senha" />
            <mat-error *ngIf="formControls.get('senha')?.hasError('pattern')">
                Por favor digite um telefone válido.
            </mat-error>
            <mat-error *ngIf="formControls.get('senha')?.hasError('required')">
                Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Confirme sua Senha</mat-label>
            <input matInput formControlName="confirmSenha" type="password" />
            <mat-error *ngIf="formControls.get('confirmSenha')?.hasError('required')">
                Este campo é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="formControls.get('confirmSenha')?.hasError('senhasDivergentes')">
                Senhas não batem.
            </mat-error>
          </mat-form-field>
        </div>

      </mat-card-content>

      <mat-card-content [formGroup]="enderecoControls">
        <mat-divider class="section-divider"></mat-divider>
        <mat-card-title>Endereço</mat-card-title>

        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>CEP</mat-label>
                <input [readonly]="view" matInput formControlName="cep"  (keyup)="buscarEndereco()" maxlength="8"/>
                <mat-error *ngIf="enderecoControls.get('cep')?.hasError('required')">
                    Este campo é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>UF</mat-label>
                <input [readonly]="view" matInput formControlName="uf" />
                <mat-error *ngIf="enderecoControls.get('uf')?.hasError('required')">
                    Este campo é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Cidade</mat-label>
                <input [readonly]="view" matInput formControlName="cidade" />
                <mat-error *ngIf="enderecoControls.get('cidade')?.hasError('required')">
                    Este campo é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Rua</mat-label>
            <input [readonly]="view" matInput formControlName="rua" />
            <mat-error *ngIf="enderecoControls.get('rua')?.hasError('required')">
                Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Número</mat-label>
            <input [readonly]="view" matInput formControlName="numero" />
            <mat-error *ngIf="enderecoControls.get('numero')?.hasError('required')">
                Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Bairro</mat-label>
            <input [readonly]="view" matInput formControlName="bairro" />
            <mat-error *ngIf="enderecoControls.get('bairro')?.hasError('required')">
                Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Complemento</mat-label>
            <input [readonly]="view" matInput formControlName="complemento" />
          </mat-form-field>
        </div>
      </mat-card-content>

      <div class="button-area">
        <button class="button-primary" mat-raised-button color="primary" *ngIf="id && !view" (click)="update()">Atualizar</button>
        <button class="button-primary" mat-raised-button color="primary" *ngIf="!id" (click)="create()">Cadastrar</button>
        <button mat-stroked-button color="accent" (click)="backPage()">Voltar</button>
      </div>
    </form>
  </mat-card>
</div>