.negativeButton{
  margin: 10px;
  width: 100%;
  border: none;
  padding: 10px;
  background-color: var(--main-error-red-l);
  transition: all ease 1s;
  color: var(--main-white);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.negativeButton:hover{
  background-color: var(--main-error-red);
}

.dialog-content{
  display: flex;
  flex-direction: column ;
}

.mat-mdc-dialog-container {
  width: auto !important;
}

.dialog-title {
  background-color: var(--main-primary-medium); 
  align-items: center;
  display: flex;
  flex-direction: column;
  color: var(--main-white); 
  padding: 10px 5px;
}

.positiveButton{
  margin: 10px;
  width: 100%;
  border: none;
  padding: 10px;
  transition: all ease 0.3s;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.positiveButton:hover{
  background-color: var(--main-primary-medium);
  color: var(--main-white);
}

.buttonArea{
  display: flex;
}